datasets
fastchat
httpx
huggingface-hub==0.34.4
numpy
openai
pandas
Pillow
python-dotenv
PyYAML
requests
tqdm
transformers==4.55.4
codetiming
hydra-core==1.3.2
peft
torch
torchvision
ray
pybind11
pylatexenc
tensorboard
tensordict>=0.8.0,<=0.9.1,!=0.9.0
torchdata
cachetools
fastapi
uvicorn
qwen_vl_utils